<main class="contenedor">
    <h1>DSY1107 - MSAL + Angular</h1>
    <section *ngIf="!user">
        <p>Usuario no autenticado.</p>
        <button (click)="login()">
            Iniciar sesión con Microsoft
        </button>
    </section>
    <section *ngIf="user">
        <h2>Sesión iniciada correctamente</h2>
        <p><strong>Nombre:</strong> {{ user.name }}</p>
        <p><strong>Cuenta:</strong> {{ user.username }}</p>
        <p><strong>Tenant:</strong> {{ user.tenantId }}</p>
        <button (click)="logout()">
            Cerrar sesión
        </button>
    </section>
</main>