<header class="encabezado">
	<a routerLink="/" class="titulo">
		<img src="/favicon.svg" alt="Pedidos360" class="logo" />

		<h1>Pedidos360</h1>
	</a>

	<nav class="navegacion">
		@if (user(); as usuario) 
        {
			<div class="usuario">
				<strong>
					{{ usuario.name }}
				</strong>
			</div>

			<button type="button" (click)="logout()">Cerrar sesión</button>
		} 
        @else 
        {
			<b>No hay sesión activa!</b>

			<button type="button" (click)="login()">Inicia Sesión</button>
		}
	</nav>
</header>