<header class="encabezado">
    <a routerLink="/" class="titulo">
        <h1>Pedidos360</h1>
    </a>

    <nav>
        @if (user(); as usuario) 
        {
            <div class="usuario">
                <strong>{{ usuario.name }}</strong>
            </div>

            <button 
                (click)="logout()"
            >
                Cerrar sesión
            </button>
        }
        @else 
        {
            <b>No hay sesión activa!</b>
            <button
                (click)="login()"
            >
                Inicia Sesión
            </button>
        }
    </nav>
</header>