# Gateway solo dev local (prod usa AWS API Gateway)
SERVER_PORT=8080
JWT_ISSUER_URI=https://login.microsoftonline.com/1f3a849e-c198-4ff7-b67c-d17f15cbc152/v2.0
PEDIDOS_SERVICE_URL=http://localhost:8081
PRODUCTOS_SERVICE_URL=http://localhost:8082
